# البيئة الافتراضية
.venv/
venv/
env/
ENV/

# ملفات بايثون المؤقتة
__pycache__/
*.py[cod]
*$py.class

# المتغيرات السرية
.env

# قواعد البيانات المحلية (إن وجدت)
*.db
*.sqlite3

# ملفات النظام وتوليدات الاكسل أو البي دي اف المؤقتة
*.pdf
*.xlsx
.DS_Store